.quote {
    margin: 100px 0;
}
.quote-title {
    text-align: center;
}
.quote-title h2 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    background: #e7f1fd;
    color: var(--bluebold);
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.quote-title h3 {
    color: var(--bluebold);
    font-size: 32px;
    position: relative;
    font-family: "Roboto-Bold";
    margin: 14px 0;
}

.quote-title h3:before,
.quote-title h3:after {
    content: "";
    width: 10px;
    height: 2px;
    background: var(--bluebold);
    display: inline-block;
}

.quote-title h3:before {
    margin: 0 10px 10px 0;
}

.quote-title h3:after {
    margin: 0 0 10px 10px;
}

.quote-title p {
    margin-bottom: 80px;
    font-family: "Roboto-Regular";
    color: var(--black);
    font-size: 26px;
}

.quote {
    background-color: #fff;
    padding: 110px 0;
    margin-bottom: -45px;
    background-image: url(../../img/team-bg.jpg);
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.quote .left {
    position: absolute;
    width: 300px;
    top: 50%;
    padding-left: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.quote .left h3 {
    color: var(--bluebold);
    font-size: 32px;
    position: relative;
    font-family: "Roboto-Bold";
    margin: 14px 0;
}
.quote .left h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.quote .left p {
    margin-bottom: 0;
    font-family: "Roboto-Regular";
    color: #444;
    font-size: 16px;
}

.quote .right {
    margin-left: 32%;
    width: 100%;
}
.quote .swiper-container {
    height: 340px;
}
.quote .item {
    margin-right: 20px;
    padding: 25px 29px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 22px 55px -40px #bfbfbf;
}

.quote .item:hover {
    cursor: auto;
}
.quote .item img {
    width: 100px;
    border-radius: 50%;
    border: 3px solid var(--bluebold);
}
.quote .item h3 {
    font-family: "Roboto-Bold";
    font-size: 20px;
    color: #444;
    margin: 16px 0;
}
.quote .item p {
    font-family: "Roboto-Regular";
    font-size: 14px;
    color: #444;
    line-height: 26px;
    margin-bottom: 10px;
}
.quote-icon {
    color: var(--bluebold);
    font-size: 16px;
}
.position {
    color: var(--bluebold);
    font-family: "Roboto-Bold";
    font-size: 16px;
}
