.statistics {
    --color-default: #ffffff;
    --color-default-rgb: 255, 255, 255;
    --color-background: #000000;
    --color-background-rgb: 0, 0, 0;
    position: relative;
    padding: 120px 0;
}

.statistics img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
}

.statistics:before {
    content: "";
    background: rgba(var(--color-background-rgb), 0.6);
    position: absolute;
    inset: 0;
    z-index: 2;
}

.statistics .container {
    position: relative;
    z-index: 3;
}

.statistics .stats-item {
    padding: 30px;
    width: 100%;
}

.statistics .stats-item span {
    font-size: 48px;
    display: block;
    color: var(--color-default);
    font-weight: 700;
}

.statistics .stats-item p {
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    color: rgba(var(--color-default-rgb), 0.6);
}
